.login{
    margin: 0 auto 0 auto;
    text-align: center;
    background-color: rgba($color:skyblue, $alpha: 0.75);
    width: 500px;
    border-radius: 15px;
    margin-top: 50px;
}

.login > h2{
    padding-top:40px ;
    font-weight: bolder;
    opacity: 0.8;
}

.actions-log{
    margin-bottom: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 500px){
    .head-new > h1{
        text-align: center;
        padding-left: 0;
    }

    .login{
        width: 300px;
    }
}