.link-new-edit{
    color: black;
    opacity: 0.7;
    font-weight: bolder;
}

.new-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}

.new-body-label{
    margin: 40px 0;
    font-weight: bolder;
    color:rgb(233, 218, 233);
    font-size: 34px;
}

.new-body-body{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 200px;
    background-color:rgba(105, 123, 131, 0.893);
    border: solid 1px skyblue;
    border-radius: 10px;
}

.new-body-img{
    width: 600px;
    background-color: rgba(255, 255, 255, 0.673);
    margin-left:auto ;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.new-body-tweet{
    height: 35px;
    background-color: aqua;
    border: solid 1px skyblue;
    border-radius: 3px;
    margin: 10px auto 30px auto;
    color: rgba(56, 53, 53, 0.829);
    font-weight: bolder;
    font-size: 18px;
}

.btn-link-new-body , .new-body-tweet{
    width: 300px;
    font-size: 20px;
}

@media screen and (max-width:500px){
    .new-head{
        height: 45px;
    }

    .new-body-label{
        margin: 0 0 15px 0;
        font-size: 18px;
    }
    
    .new-body-body{
        width: 290px;
        height: 340px;
    }

    .new-body-img{
        width: 300px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .btn-link-new-body , .new-body-tweet{
        width: 200px;
        font-size: 16px;
    }
    
}

