.head-new{
    background-color:rgba(56, 56, 54, 0.747);
    width:auto ;
    height: 60px;
}

.head-new > h1{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.85;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 40px;  
}

.signup{
    background: image-url('chiller.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;

    height: 1500px;
}

.signup-new{
    margin: 0 auto 0 auto;
    text-align: center;
    background-color: rgba(76, 85, 134, 0.716);
    width: 500px;
    border-radius: 15px;
    margin-top: 120px;
}

.signup-new > h2{
    color: aliceblue;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体" ;
    padding-top:40px ;
    font-weight: bolder;
    opacity: 0.8;
}

.field{
    margin-top:20px ;
    text-align: center;
}

.label-new{
    color: aliceblue;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体" ;
    font-weight: bolder;
    opacity: 0.9;
}

.form-new{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 7px;
}

.actions-new{
    margin: 15px 0 15px 0 ;
}

@media screen and (max-width: 500px){
    .head-new{
        height: 55px;
    }

    .head-new > h1{
        text-align: center;
        padding-left: 0;
        font-size: 36px;
    }

    .signup-new{
        width: 300px;
        margin-top: 50px;
    }

    .form-new{
        width: 200px;
    }
}

