.tweet-edit{
    height: 1500px;
    background: image-url('profile.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    text-align: center;
}

.edit-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.edit-body-body{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 160px;
    background-color: rgba(240, 233, 221, 0.712);
    border: solid 1px skyblue;
    border-radius: 10px;
}

.edit-body-img{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.597);
    border-radius: 3px;
    display: flex;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.edit-body-edit{
    width: 220px;
    background-color: aqua;
    border: solid 1px skyblue;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(56, 53, 53, 0.829);
    font-weight: bolder;
    font-size: 20px;
}

@media screen and (max-width:500px){

    .edit-body{
        margin-top: 20px;
    }
    
    .edit-body-body{
        width: 290px;
        height: 340px;
    }

    .edit-body-img{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 13px;
        width: 300px;
    }

    .edit-body-edit{
        font-size: 14px;
        width: 120px;
    }
}