.tweet-index-all{
    height: 1500px;
    background: image-url('profile.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    text-align: center;

}

.tweets-head{
background-color:rgba(56, 56, 54, 0.747);
width:auto ;
height: 80px;
display: flex;
}

.tweets-head > h1{
font-family: Georgia, 'Times New Roman', Times, serif;
opacity: 0.85;
margin-top: 15px;
padding-top: 6px;
padding-left: 10px;
font-size: 40px;  
}

.tweet-index-title{
color: white;
margin-right:auto ;
}

.tweets_header_buttons_media{
margin-top: 20px;
margin-right: 30px;
}

.tweets_header_button_media{
color: white;
border-bottom:solid 1px white;
margin-right: 10px;
font-size: 20px;
}

.search{
background-color: rgba(178, 185, 178, 0.705);
margin-bottom: 30px;
}

.search-bottons {
margin-right:auto;
}

.tweets-search{
margin: 2px 0 3px 3px;
}

.tweet{
border: solid 2px rgba(135, 207, 235, 0.562);
border-radius: 5px;
width: 950px;
height: 230px;
display: flex;
margin-top:20px ;
margin-bottom: 10px;
}

.likes{
color: white;
margin:0 0 0 10px ;
font-weight: bolder;
opacity: 0.85;
}

.tweet-detail{
color: white;
font-weight: bolder;
border-radius: 3px;
margin-left: 5px;
}

.tweet-info{
color: white;
margin-left: 10px;
}

.tweet-info-edit{
color: white;
}

@media screen and (max-width: 700px){
.tweets-head{
    height: 55px;
    flex-direction: column;
}

.tweets-head > h1{
    display: none;;
}

.tweets_header_buttons_media{
    margin: 15px auto 0 auto;
}


.tweets_header_button_media{
    font-size: 12px;
    margin-right: 5px;
}

.search-bottons{
    font-size: 11px;
}

.tweet{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 510px;
}

.mytweet-img{
    margin-left: 20px;
}
}


