.profile-edit-body{
    height: 1500px;
    background: image-url('profile.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    text-align: center;
}

.head-edit-title{
    color: white;
}


.field-item{
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    opacity: 0.8;
    padding-top: 30px;
}

.field-item-link{
    height: 30px;
    width: 300px;
    border: solid 2px aqua;
    border-radius: 3px;
}

.field-renew{
    height: 35px;
    width: 200px;
    border: solid 2px aqua;
    border-radius: 3px;
    margin-top: 30px;
}

.link-user-path{
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-weight: bolder;
    opacity: 0.6;
}

.btn-link-new-edit{
    width: 200px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px){
    .field-item{
        font-size: 16px;
    }

    .field-item-link{
        width: 150px;
    }

    .field-renew{
        width: 100px;
    }

    .btn-link-new-edit{
        width: 100px;
    }
}